*{
  margin: 0px;
  padding: 0px;
}
#topBar1 
{
	font-size: 12px;
  	border-bottom: 1px solid #e2e2e1
  
}
#topBar1 .govBranding ul li {
	display: inline-block
}
#topBar1 .govBranding ul li a {
	display: block;
	font-size: 0.80em;
	font-weight: 400;
	text-transform: uppercase;
	padding: 8px;
	color: #000	
}
#topBar1 .govBranding ul li:first-child
{
	border-right: 1px solid #e2e2e1
}

.logo {
	float: left;
	font-size: 160%;
	line-height: 105%;
	min-height: 103px;
	padding: 50px 0 0 95px;
	text-transform: uppercase;
	position: relative
	
}
.logo .emblem {
	position: absolute;
  	left: 30px;
  	padding: 2px;
	top: 10px
}

.sw-logo 
{
	display: inline-block
}
.sw-logo img 
{
    margin-top: 10px
}
@media (max-width: 640px) {
	.float-element {
		display: none
	}
	.logo {
		float: none;
		font-size: 150%
	}
}
#navbar{
	text-align: left;
	position: relative;
   	background:#0a5472;
	transition: top 0.3s;
}
#navbar li{
	display: inline-block;
    list-style: none;
}
#navbar a {
	float: left;
	font-weight: bold;
	font-size: 14px;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 11px 16px;
	text-decoration: none;
	
  }
#navbar a:hover {
	background-color:#008B8B;
	color: rgb(255, 255, 255);
}
  
#navbar a.active {
	background-color: #008B8B;
  	color: white;
}
.topnav-right {
  float: right;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: static;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover 
{
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.list-group-item > a
{
	text-decoration: none;
	color: #000;
	padding: 10px;
	font-size: 15px;
}
/* Bordered form */
form {
	border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
	width: 70%;
	padding: 12px 20px;
	margin:0;
	display: inline-block;
	box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
	background-color:#1E90FF;
	color: white;
	font-size: 16px;
	padding: 12px 16px;
	border: none;
	cursor: pointer;
	font-weight: bold;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
	opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
  }

  /* Add padding to containers */
  .container {
	padding: 20px;
  }
  
  /* The "Forgot password" text */
  span.psw {
	float: right;
	padding-top: 10px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	  display: block;
	  float: none;
	}
	.cancelbtn {
	  width: 100%;
	}
  }

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 150px;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 5px auto; /* 15% from the top and centered */
	border: 2px solid #888;
	width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	/* Position it in the top right corner outside of the modal */
	position: absolute;
	right: 430px;
	top: 120px;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
	color: red;
	cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
  }
.column {
	float: left;
	padding: 20px 5px;
	border: 1px solid rgb(240, 240, 240);
  }
.row::after {
	float:left;
	content: "";
	clear: both;
	display: table;
	
  }
.column img {
padding-left:10px;
}

#footers
{
	background-color: #000;
  	color: #e2e2e1;
	clear: both;
	display: block;
  text-align: center;
  padding: 15px;
  border-top: 1px solid rgb(201, 199, 199);
}